- content_for :projects do
  .uk-width-1-1.uk-animation-fade
    .uk-grid.uk-grid-collapse
      - @projects.order("id asc").each do |project|
        %div{ class: assign_projects_class }
          - if project.photo?
            %a.uk-overlay#cover{ href: project_path(project) }
              = cl_image_tag(project.photo.path, :width => 500, :height => 321, :crop => :fill, :id => 'cover')
              .uk-overlay-area
                .uk-overlay-area-content
                  .uk-text-large.uk-text-contrast= project.name
